.carousel3 {
    text-align: center;
}

.carousel3 .swiper {
    margin-top: 20px;
}

.carousel3 .swiper .swiper-slide {
    width: 277px;
    padding: 10px;
}

.carousel3 .swiper .swiper-slide>a {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-content);
    padding: 15px;
}

.carousel3 .swiper .swiper-slide>a:hover {
    color: var(--color-secondary);
}

.carousel3 .swiper .swiper-slide>a .img {
    width: 60%;
    height: 130px;
    margin: 20px auto 30px auto;
}

.carousel3 .swiper .swiper-slide>a .img img {
    width: 100%;
    height: 100%;
}

.carousel3 .swiper .content {
    text-align: start;
}

.carousel3 .swiper .address {
    margin: 10px 0;
}

.carousel3 .swiper .rate span:first-child {
    color: var(--color-tertiary);
}

.carousel3 .swiper .rate {
    display: flex;
    gap: 5px;
    color: var(--color-tertiary);
    align-items: center;
}

.carousel3 .swiper .rate ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.carousel3 .swiper .rate ul li svg {
    margin-top: 5px;
}
