.carousel2 {
    width: 100%;
    border-radius: var(--radius-lg);
    margin-bottom: 30px;
}

.carousel2 img {
    width: 100%;
        height: clamp(175px, 25vw, 350px);
    border-radius: var(--radius-lg);
}

.carousel2 .swiper-pagination {
    bottom: -20px;
}