.carousel3 {
    text-align: center;
}

.carousel3 .swiper {
    margin-top: 20px;
}

.carousel3 .swiper .swiper-slide {
    width: 277px;
    padding: 10px;
}

.carousel3 .swiper .swiper-slide>div {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-content);
    padding: 15px;
}

.carousel3 .swiper .swiper-slide>div .img {
    width: 100%;
    height: 130px;
    margin: 20px 0 30px 0;
}

.carousel3 .swiper .swiper-slide>div .img img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.carousel3 .swiper .content {
    text-align: start;
}

.carousel3 .swiper .address {
    margin: 10px 0;
}

.carousel3 .swiper .rate span:first-child {
    color: var(--color-tertiary);
}

.carousel3 .swiper .rate {
    display: flex;
    gap: 5px;
    color: var(--color-tertiary);
    align-items: center;
}

.carousel3 .swiper .rate ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.carousel3 .swiper .rate ul li svg {
    margin-top: 5px;
}


.carousel3 .swiper .order {
    margin-top: 10px;
}

.carousel3 .swiper .order button {
    width: 100%;
    height: 35px;
    background-color: var(--color-primary);
    color: var(--color-accent);
    border: none;
    border-radius: var(--radius-base);
    font-weight: var(--fw-bold);
    font-size: var(--fs-base);
}