
.carousel5>.title {
    text-align: center;
    padding: 40px 0 30px 0;
}

.carousel5>.content-container .content-item {
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-content);
    margin: auto;
    width: 260px;
    padding: 30px 0 0 0;
    display: block;
}

.carousel5>.content-container .content-item .img {
    height: 160px;
    text-align: center;
    border-radius: 100%;
}

.carousel5>.content-container .content-item .img img {
    width: 50%;
    height: auto;
    border-radius: 100%;
}

.carousel5>.content-container .content-item .rate {
    background: #e3f1f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.carousel5>.content-container .content-item .rate>div:nth-child(1)>span svg {
    position: relative;
    top: 3px;
}

.carousel5>.content-container .content-item .rate>div:nth-child(2)>span svg {
    position: relative;
    top: 1px;
}

.carousel5>.content-container .content-item .content {
    padding: 10px;
}

.carousel5>.content-container .content-item .content>.title>h2 {
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.carousel5>.content-container .content-item .content>.title>h2:nth-child(1) {
    font-weight: unset;
}

.carousel5>.content-container .content-item .content>.sub-content {
    margin-block: 10px;
}

.carousel5>.content-container .content-item .content>.sub-content div {
    line-height: 1.5;
    display: flex;
    gap: 5px;
    align-items: center;
}

.carousel5>.content-container .content-item .content>.sub-content div img {
    width: 15px;
    height: 15px;
}

.carousel5>.content-container .content-item .content>.btn button {
    width: 100%;
    background: var(--color-primary);
    color: var(--color-accent);
    line-height: 2.5;
    border: none;
    border-radius: var(--radius-base);
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
}
.carousel5>.content-container .swiper-slide{
    padding: 10px;
}