.home.content1 {}

.home.content1 .app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.home.content1 .content-container {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    gap: 120px;
    margin-top: 30px;
}

.home.content1 .content-container .content-item {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home.content1 .content-item:nth-child(odd) .item {
    display: grid;
    width: 100%;
    justify-content: space-between;
}


.home.content1 .content-item:nth-child(1) .item {
    grid-template-columns: 4fr 1fr;
}

.home.content1 .content-item:nth-child(3) .item {
    grid-template-columns: 1fr 4fr;
}

.home.content1 .content-item:nth-child(1) .item:nth-child(odd) {
    position: relative;
    left: 35px;
}

.home.content1 .content-item:nth-child(3) .item:nth-child(odd) {
    position: relative;
    right: 35px;
}

.home.content1 .content-container>.content-item:nth-child(1) .img,
.home.content1 .content-container>.content-item:nth-child(3) .img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.home.content1 .content-container>.content-item:nth-child(1) .img {
    margin-left: auto;
    position: relative;
    left: 15px;
}

.home.content1 .content-container>.content-item .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.home.content1 .content-container>.content-item .content span {
    color: var(--color-disabled2);
}


.home.content1 .content-container>.content-item:nth-child(1) .content {
    text-align: end;
}

.home.content1 .content-container>.content-item .content>h3 {
    font-size: var(--fs-2xl);
}

.home.content1 .content-container>.content-item:nth-child(3) .img {
    margin-right: auto;
    position: relative;
    right: 15px;
}

.home.content1 .content-container>.content-item:nth-child(1) img,
.home.content1 .content-container>.content-item:nth-child(3) img {
    width: 100%;
    height: 100%;
}

.home.content1 .content-container>.content-item:nth-child(2) {
    position: relative;
}

.home.content1 .content-container>.content-item:nth-child(2) img:first-child {
    position: absolute;
    z-index: 1;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.home.content1 .content-container>.content-item:nth-child(2) img:last-child {
    width: 330px;
    height: auto;
    position: relative;
    z-index: 2;
}