#home {
    width: 100%;
    height: 500px;
    position: relative;
}

#home>img {
    width: 100%;
    height: clamp(250px, 50vw, 100%);
}

#home>.bannerHome {
    width: 100%;
    position: absolute;
    top: 50px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#home>.bannerHome h1:first-child {
    color: var(--color-secondary);
    font-size: clamp(25px, 2.5vw, var(--fs-8xl));
}

#home>.bannerHome .search {
    position: relative;
    width: 50%;
    height: 60px;
    margin: 20px auto;
}

@media (max-width:768px) {
    #home>.bannerHome .search {
        width: 70%;
        height: 50px;
    }
}

@media (max-width:580px) {
    #home>.bannerHome .space-item {
        display: none;
    }
}

@media (max-width:500px) {
    #home>.bannerHome .search {
        width: 100%;
        height: 50px;
    }
}

#home>.bannerHome .search input {
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow-base);
    padding: 11px 20px;
    border-radius: var(--radius-lg);
    border: none;
    outline: none;
    padding-left: 50px;
    font-size: var(--fs-xl);
}

#home>.bannerHome .search svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

#home>.bannerHome .space-item ul {
    width: max-content;
    text-align: start;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: auto;
}


#home>.bannerHome ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-secondary);
    font-size: var(--fs-base);
}

#home>.bannerHome .space-item ul>li span {
    width: 500px;
}

