.banner-advertisement {
    width: 100%;
    height: 310px;
    border-radius: var(--radius-lg);
}

.banner-advertisement img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg);
}

.banner-advertisement .swiper-pagination {
    bottom: -20px;
}