@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif !important;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

:root {
    --color-primary: #00b5f1;
    --color-accent: white;
    --color-primary-dark: linear-gradient(86.64deg, #01b5f1 33.96%, #0084e9 137.73%);
    --color-primary-light: #e6f2ff;

    --color-secondary: #003553;

    --color-tertiary: #ffb54a;
    --color-tertiary-accent: white;

    --color-danger: #ff4d4f;
    --color-danger-light: #ff7a7a;

    --color-disabled: #b1b1b1;
    --color-active: linear-gradient(83.63deg, #00b5f1 33.34%, #00e0ff 113.91%);
    --color-active2: linear-gradient(84.69deg, #00b5f1 33.56%, #00e0ff 111.25%);

    --stroke-primary: #e4e4e4;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --shadow-primary: 0 4.5px 13px #01499e59;
}