.banner-info1 .content {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}

.banner-info1 .content .item:nth-child(1) {
    position: relative;
    z-index: 1;
}

.banner-info1 .content .item:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    padding: 10px;
    background: white;
    border-radius: var(--radius-full);
    z-index: -1;
}

.banner-info1 .content .item:nth-child(2){
    text-align: center;
    margin-inline: 30px ;
}

.banner-info1 .content .item:nth-child(2) p{
    color: white;
}
.banner-info1 .content .item:nth-child(2) p:first-child{
    font-size: var(--fs-6xl);
}
.banner-info1 .content .item:nth-child(2) p:last-child{
    font-size: var(--fs-10xl);
    font-weight: var(--fw-bold);
}

.banner-info1 .content .item:nth-child(3) {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}
.banner-info1 .content .item:nth-child(3) a{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background: white;
    border-radius: var(--radius-lg);
    padding: 15px;
}