.view-all {
    margin-top: 10px;
}

.view-all button {
    width: max-content;
    height: 38px;
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 12px 10px;
    transition: border 0.3s ease, border-radius 0.3s ease;
}

.view-all button span {
    color: var(--color-primary);
    font-size: var(--fs-xl);
}

.view-all button:hover {
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-base);
}